.feedback {
  background: white;
  padding: 1.5rem 9%;
  display: block;
  text-align: center;
  margin-top: 250px;
  background: solid red;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 20px;
}
