@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  background: white;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

h2 {
  font-family: 'Silkscreen', cursive; 
}
.profile {
  border-radius: 50%; 
  width: 50px;
}

.bi-star-fill {
  color: #F9BA18;
  width: 25px;
}

.pontos {
  display: flex;
  align-items: center;
}
